body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('istockphoto-1488332977-1024x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: 1;
    margin-bottom: 80px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.product {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card {
    height: 300px;
    opacity: 0.8;
}


.card-img-top {
    object-fit: cover;
    height: 100%;
}