{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Category Title</label>
                                {{ form.title }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% if category %}
                            <a href="{% url 'delete-category' category.slug %}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}