{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ user.get_full_name|default:user.username }}'s Products{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ user.get_full_name|default:user.username }}'s Products for Sale</h1>
        <div class="row">
            {% for product in products %}
                <div class="product">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{% url 'product-details' product.category.slug product.slug %}">
                                    <img class="card-img-top" src="{{ product.get_thumbnail }}"
                                         alt="No image for '{{ product.title }}'"/>
                                </a>
                            </div>
                            <div class="col-md-9">
                                <a href="{% url 'product-details' product.category.slug product.slug %}">
                                    <h3>{{ product.title }}</h3>
                                    <p>${{ product.get_display_price }}</p>
                                </a>
                                <hr>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

