{% extends 'base/base.html'%}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                            <h2 class="text-xl-start">Total cost: ${{ cart.get_total_cost }}</h2>

                            <form method="post" action=".">
                            {% csrf_token %}
                                <div class="form-group">
                                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.id_for_label }}">Address</label>
                                        {{ form.address }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.zipcode.id_for_label }}">Zipcode</label>
                                        {{ form.zipcode }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.city.id_for_label }}">City</label>
                                        {{ form.city }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                                        {{ form.phone_number }}
                                    </div>
                                    <button href="{% url 'checkout' %}" type="submit" class="btn btn-primary">Checkout</button>
                        {#    <button href="{% url 'checkout' %}" class="d-inline-block  p-2 rounded-3 bg-danger text-white">Checkout</button>#}
                            </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}