{% extends 'base/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-xl-start">Total cost: ${{ cart.get_total_cost }}</h2>

                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.address.id_for_label }}">Address for delivery</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.post_code.id_for_label }}">Post code</label>
                                {{ form.post_code }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                            <button href="{% url 'checkout' %}" type="submit" class="btn btn-primary">Checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}