{% extends 'base/base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="Image of {{ product.title }}"/>
    {% endif %}
    <h1>{{ product.title }}</h1>
    <p>{{ product.get_display_price }}</p>
    <p>
        Seller:
        <a href="{% url 'seller-details' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
    </p>
    {% if product.description %}
        <p>{{ product.description }}</p>
    {% endif %}
    <a href="{% url 'add-to-cart' product.id %}">Add to cart</a>
{% endblock %}